<%- include('partials/header') %> 

<header>
  <div class="todos">
    <img src="/todo.png" alt="">
  </div>
  <div class="headings">
    <h2>Todos App</h2>
    <h3>It's not hard... Just Plan! </h3>
   <a href="/create-todo" class="btn">Get Started</a>
  </div>
</header>


